<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sugang.config.mapper.enrollmentMapper">
	
	<sql id="select-sql-enrollment">
		select student_id studentId, subject_id subjectId 
		from enrollment
	</sql>
	
	<!-- insertEnrollment -->
	<insert id="insertEnrollment" parameterType="Enrollment">
		insert into enrollment(student_id, subject_id) values(#{studentId},#{subjectId})
	</insert>
   
	<!-- deleteEnrollmentByStudentId -->
	<delete id="deleteEnrollmentByStudentId" parameterType="_int">
		delete from enrollment
		where student_id = #{value}
	</delete>

	<!-- deleteEnrollmentBySubjectId -->
	<delete id="deleteEnrollmentBySubjectId" parameterType="_int">
		delete from enrollment
		where subject_id = #{value}
	</delete>
	
	<!-- deleteEnrollmentByEnrollment -->
	<delete id="deleteEnrollmentByEnrollment" parameterType="Enrollment">
		delete from enrollment
		where subject_id = #{subjectId} and student_id = #{studentId}
	</delete>

	<!-- selectEnrollment -->
	<select id="selectEnrollment" resultType="Enrollment">
		<include refid="select-sql-enrollment"/>
		order by student_id
	</select>


	<!-- selectEnrollmentBySubjectId -->
	<select id="selectEnrollmentBySubjectIdCount" parameterType="_int" resultType="int">
		select count(student_id)
		from enrollment
		where subject_id = #{value}
	</select>
	
		<!-- selectEnrollmentBySubjectId -->
	<select id="selectEnrollmentByStudentIdInt" parameterType="_int" resultType="int">
		select suject_id
		from enrollment
		where student_id = #{value}
	</select>
	
	<!-- selectEnrollmentBySubjectId -->
	<select id="selectEnrollmentBySubjectId" parameterType="_int" resultType="Enrollment">
		<include refid="select-sql-enrollment"/>
		where subject_id = #{value}
	</select>
	
	
		<!-- selectEnrollmentByStudentId -->
	<select id="selectEnrollmentByStudentId" parameterType="_int" resultType="Enrollment">
		<include refid="select-sql-enrollment"/>
		where student_id = #{value}
	</select>

	
	
	<!-- selectEnrollmentBySubjectIdANDStudentId -->
	<select id="selectEnrollmentBySubjectIdANDStudentId" parameterType="java.util.HashMap" resultType="Enrollment">
		<include refid="select-sql-enrollment"/>
		where subject_id = #{subjectId} and student_id = #{studentId}
	</select>
	
<!-- 	<select id="selectEnrollmentStudentBySubjectDay" parameterType="Enrollment" resultType="int">
	  select nvl(count(ENROLLMENT.SUBJECT_id),0)
	  from enrollment, SUBJECT
	  where ENROLLMENT.student_id = #{studentId} 
			 and ENROLLMENT.SUBJECT_ID = SUBJECT.SUBJECT_ID
			 and not subject.subject_id = #{subjectId}
			 and SUBJECT.DAY = (select SUBJECT.DAY
		  						from SUBJECT
								where SUBJECT.SUBJECT_ID = #{subjectId})
	</select> -->
	
	<select id="selectEnrollmentStudentBySubjectTime"  parameterType="Enrollment" resultType="int">
	  select nvl(count(ENROLLMENT.SUBJECT_id),0)
	  from enrollment, SUBJECT
	  where ENROLLMENT.student_id =  #{studentId}  
			 and ENROLLMENT.SUBJECT_ID = SUBJECT.SUBJECT_ID
			 and not subject.subject_id = #{subjectId}
			 and SUBJECT.SUBJECT_TIME = (select SUBJECT.SUBJECT_TIME
		  								from SUBJECT
										where SUBJECT.SUBJECT_ID = #{subjectId})
			 and SUBJECT.DAY = (select SUBJECT.DAY
		  						from SUBJECT
								where SUBJECT.SUBJECT_ID = #{subjectId})
	</select>
	
	<select id="selectEnrollmentStudentByNowCredit" parameterType="int" resultType="int">
	select 	nvl(sum(SUBJECT.SUBJECT_CREDIT),0)
	from 	ENROLLMENT, SUBJECT
	where 	ENROLLMENT.SUBJECT_ID = SUBJECT.SUBJECT_ID
			and ENROLLMENT.STUDENT_ID = #{subjectId} 
    </select>
</mapper>