<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sugang.config.mapper.studentMapper">
	
	<!-- insert SQL문 설정 -->
	<insert id="insertStudent" parameterType = "sugang.vo.Student">
		insert into student values(#{studentId},#{name},#{major},#{studentPw},#{grade},#{maxCredit})
	</insert>
	
	

</mapper>
